.bottomsheet {
  background-color: black;
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 999;
  top: 100%;
  /* transform: translateY(-100%); */
  box-shadow: 0 1px 37px 0 rgb(0 0 0 / 14%);
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  touch-action: none;
  min-height: -webkit-fill-available;
  padding-bottom: 10px;
  will-change: transform;
  /* padding:16px; */
  /* overflow-y: scroll; */
}
.modal{
  background-color: black;
  width: 70%;
  position: absolute;
  height: 70%;
  z-index: 400;
  overflow: scroll;
  display: block;
  /* margin:auto; */
  /* left:50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  box-shadow: 0 1px 37px 0 rgb(0 0 0 / 14%);
  border-radius: 36px;
  touch-action: none;
}

.bottomsheet div#bottomsheet-1, .modal div#bottomsheet-1{
  display: block !important;
  /* overflow-y: scroll; */

}


.overlay{
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
}
.overlay.display{
  display: block;
}

#draggable-area{
  padding: 30px 0;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  touch-action: none;
  position: fixed;
  /* background-color: black; */
}