@import "scroll-snap-slider/src/scroll-snap-slider.css";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  min-width: 100%;
  /* overflow:scroll; */
  background-color: white !important;
}

.scorll {
  padding: 14px;
}
.scorll div {
  padding-top: 5px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  color: white;
  padding-top: 0;
  margin-top: 0;
}

.flex {
  display: flex;
  overflow: scroll;
  width: 100%;
}

.box {
  min-width: 200px;
  height: 150px;
  border-radius: 20px;
  margin: 10px;
}
.one {
  background-color: #ffcccc;
}
.two {
  background-color: #f2e6ff;
}
.three {
  background-color: #e6ffe6;
}
.four {
  background-color: #ccccff;
}
.five {
  background-color: #ffe6cc;
}
input {
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}
#bottomsheet-2 {
  background-color: black;
}

#bottomsheet-3 {
  background-color: black;

}
#bottomsheet-3 .scroll-snap-slide{
  width: 60%
}
#bottomsheet-3 .scroll-snap-slide img{ 
  height: 100%
}
#bottomsheet-3 h4{
 text-align: center;
 text-transform: uppercase;
}

/* .list-items:nth-of-type(1){
background-color: white;
display: inline;
margin: 5px;
border-radius: 6px;
padding:1px;
color:black;
cursor: pointer;
} */
.scroll-snap-slide {
  width: 15%;
  margin-right: 25px;
  max-height: 320px;
}
@media screen and (max-width: 600px) {
  .scroll-snap-slide {
    width: 40%;
  }
}
img {
  width: 100%;
}

body {
  background: black;
}

.watch-now {
  width: 100%;
  background-color: white;
  color: black;
  text-transform: uppercase;
  position: sticky;
  bottom: 0;
}
.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(48px);
  -webkit-backdrop-filter: blur(48px);
}
.mid {
  top: 20%;
  position: absolute;
}
.universal {
  position: absolute;
  top: 20%;
  z-index: 10;
  width: 100%;
}
.universal img {
  height: auto !important;
  top: 0;
  width: 70%;
  margin: 15% !important;
}
@media screen and (min-width: 600px) {
  .universal {
    top: 0;
  }
  .mid {
    top:0
  }
  .universal img {
  width: 40%;
  margin-top: 20% !important;
  margin-left: 30% !important;
  
    /* height: 100% !important */
  }
}
.see-all{
  z-index: 10;
}
