:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow:hidden;
  /* background-color: #535bf2; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

div#bottomsheet-1 {
  display: none !important;
  padding:16px;
  /* overflow-y: scroll; */
  height: 100%;
  padding-top:0;
  -webkit-overflow-scrolling: touch;

  /* touch-action:none; */
}

p{
  color: white;
  padding-top:0;
  margin-top:0;
}

.flex{
  display: flex;
  overflow: scroll;
  width: 100%;
}

.box{
  min-width:200px;
  height: 150px;
  border-radius: 20px;
  margin:10px;
}
.one{
background-color: #ffcccc;
}
.two{
background-color:#f2e6ff;
}
.three{
background-color:  #e6ffe6;
}
.four{
  background-color:#ccccff;
}
.five{
background-color:  #ffe6cc;
}
input{
  padding:10px;
  border-radius: 10px;
  margin: 5px;
}