[data-bottomsheet] {
  touch-action: none;
  will-change: transform;

  position: fixed;
  top: 0;
  left: 0;
  transform: unset;

  overflow: scroll;
  display: none;

  width: 100%;
  height: 100%;
  min-height: -webkit-fill-available;

  color: #fff;

  opacity: 0;
  background-color: #000;
  box-shadow: 0 1px 37px #00000024;
}

#maps-2 {
  width: 100%;
}

.modal {
  touch-action: none;

  position: absolute;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: scroll;
  display: block;

  max-width: 50%;
  height: 50% !important;
  margin: auto;

  background-color: #000;
  border-radius: 30px;
  box-shadow: 0 1px 37px #00000024;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  background-color: #0000007f;
}

.overlay.display {
  display: block;
  opacity: 0;
}

[data-draggable] {
  position: sticky;
  top: 0;
  width: 100%;
}

#modal-close {
  position: sticky;
  z-index: 100;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 4px;
}

[data-bottomsheet] img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
}

[data-bottomsheet] input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
