@import "scroll-snap-slider/src/scroll-snap-slider.css";

:root {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.container-shows {
  max-width: 1216px;
  margin: auto;
}

.nav .container-shows{
  padding-right: 20px;
  padding-left: 20px;
}

a:hover {
  color: #535bf2;
}

.close-icon{
  position: fixed;
  z-index: 50;
  top:8px;
  right:8px;
}

.bottomsheet{
z-index: 150 !important;
font-family: "Inter V", sans-serif;
  border-radius: 14px 14px 0 0;
}

p {
  margin: 0;
  padding-top: 0;
  color: white;
}

body {
  overscroll-behavior: contain;

  min-width: 100%;
  height: 100vh;
  margin: 0;

  font-family: Pretendard, sans-serif;

  background: white;
}

.arrow {
  width: 16px !important;
  height: 23px;
  margin-left: 8px;
}

h1 {
  margin-top: 32px;
  margin-bottom: 13px;
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  margin: 10px 0;
}

.poster-img {
  display: none;
}

h4 {
  margin: 12px 0 8px;
}

h2 {
  margin: 0;
}

/*
.bottomsheet .flex-start {
  padding-bottom: 24px;
  margin: 0;
} */

.white-play {
  position: absolute;
  top:28%;
  left: 43%;

  width: 66px !important;
  height: 66px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 32px !important;
  height: 32px;
}

.watch-now {
  position: sticky;
  bottom: 32px;
  
  width: -webkit-fill-available;

  /* width: max-content; */
  margin: 0 16px;
  
  /* padding: 14px 0; */
  padding: 14px 20px;

  font-family: "Inter V", sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  line-height: 13px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.08em;

  background-color: white;
  border: none;
  outline: none;
}

.watch-now.md {
  display: none;
}

.watch-now:focus {
  border: none;
  outline: none;
}

.container-box h4 {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0.025em;
}

.seasons {
  width: auto;
  max-height: 183px;
}

.seasons p{
  display: none;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  padding: 0 20px;
}

.card {
  padding: 2em;
}

.scroll-snap-slide img{
  min-height: 216px;
  border-radius: 6px;

}

button {
  /* background-color: #1a1a1a; */
  cursor: pointer;

  padding: 0.6em 1.2em;

  font-size: 1em;
  font-weight: 500;
  color: white;

  border-radius: 8px;

  transition: border-color 0.25s;
}


.universal img {
  top: 0;
  width: 70%;
  height: auto !important;
  margin: 15% !important;
}

.flex-col img {
  margin-right: 12px;
}

.flex-input img {
  margin-left: 12px;
}

.container-box img {
  border-radius: 5px;
}

.carousel {
  position: relative;
  z-index: 2;
  margin-left: 20px;
}

@font-face {
  font-family: "Inter V";
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
  src: url("/assets/fonts/Inter-V.woff2") format("woff2");
}

.shows-section h3 {
  margin: 0;

  font-family: "Inter V", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 38px;
  color: #fff;
  letter-spacing: 0.005em;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shows-container {
  padding: 24px 20px 0;
}

.search-shows {
  margin-right: 20px;
}

.banner-img img.banner-im {
  width: 100%;
  height: auto;
  min-height: 480px;

  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 0%) 73.15%,
    rgb(0 0 0 / 44%) 99%
  );
  -webkit-filter: blur(17.5px);
  filter: blur(17.5px);
  border-radius: 12px;
}

.glad {
  margin-bottom: 45px;
  padding-top: 8px;

  font-family: "Inter V", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 12px;
  color: #7c7c7c;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.outstanding {
  font-family: Newsreader, sans-serif;
  font-size: 20px;
  font-variation-settings: "opsz" 55;
  font-weight: 565;
  font-style: normal;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.linear-grad {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 0%) 73.15%,
    rgb(0 0 0 / 44%) 99%
  );
  -webkit-filter: drop-shadow(0 24px 80px rgb(0 0 0 / 14%))
    drop-shadow(0 7.2353px 24.1177px rgb(0 0 0 / 9.12%))
    drop-shadow(0 3.0052px 10.0172px rgb(0 0 0 / 7%))
    drop-shadow(0 1.0869px 3.623px rgb(0 0 0 / 4.88%));
  filter: drop-shadow(0 24px 80px rgb(0 0 0 / 14%))
    drop-shadow(0 7.2353px 24.1177px rgb(0 0 0 / 9.12%))
    drop-shadow(0 3.0052px 10.0172px rgb(0 0 0 / 7%))
    drop-shadow(0 1.0869px 3.623px rgb(0 0 0 / 4.88%));
}

/* .bottomsheet {
  font-family: "Inter V", sans-serif;
} */

img.play-svg {
  position: absolute;
  top: 135px;

  width: 51px;
  height: 50px;

  background: none;
}

.img-wrapper img,
.carousel img,
.banner-img img,
.bottomsheet img {
  width: 100%;
}


#maps-1 img {
  width: unset;
}

button:hover {
  border-color: #646cff;
}




button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/assets/fonts/Pretendard-Regular.otf");
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url("/assets/fonts/Pretendard-Medium.otf");
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url("/assets/fonts/Pretendard-SemiBold.otf");
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/assets/fonts/Pretendard-Bold.otf");
}

.flex {
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: -webkit-fill-available;
  padding: 6.5px 0;
}

.box {
  min-width: 200px;
  height: 150px;
  margin: 10px;
  border-radius: 20px;
}

.one {
  background-color: #ffcc;
}

.two {
  background-color: #f2e6ff;
}

.three {
  background-color: #e6ffe6;
}

.four {
  background-color: #ccff;
}

.five {
  background-color: #ffe6cc;
}

.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

.flex-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.scroll-snap-slide {
  cursor: pointer;

  position: relative;

  width: 144.52px;
  margin-right: 20px;

  -webkit-filter: drop-shadow(0 "0.785455px" "3.92727px" rgb(0 0 0 / 15%));
  filter: drop-shadow(0 "0.785455px" "3.92727px" rgb(0 0 0 / 15%));
  box-shadow: 0 26.7055px 50.2691px -22.7782px rgb(0 0 0 / 25%);
}

.scroll-snap-slider {
  min-height: 200px;
  margin-top: 8px;
  padding-bottom: 32px;
}



.blur {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgb(0 0 0 / 20%);
  -webkit-backdrop-filter: blur(48px);
  backdrop-filter: blur(48px);
  border-radius: 20px;
}

.mid {
  position: absolute;
  top: 20%;
}

.universal {
  position: absolute;
  z-index: 10;
  top: 20%;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .universal {
    top: 0;
  }

  .details {
    display: flex;
    justify-content: space-between;
  }

  .poster-img {
    display: block;
  }

  .container {
    padding: 0 56px;
  }

  .flex-order {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .poster-img img {
    position: relative;

    width: auto;
    max-height: 360px;
    margin-top: -32px;

    filter: drop-shadow(0 1px 5px rgba(0 0 0 15%));
    box-shadow: 0 34px 64px -29px rgba(0 0 0 25%);
  }

  .mid {
    top: 0;
  }

  .universal img {
    width: 40%;
    margin-top: 20% !important;
    margin-left: 30% !important;
  }
}

.see-all {
  z-index: 10;
}

.container-box {
  position: relative;

  margin-bottom: 16px;
  padding: 8px;

  background: #181818;
  border-radius: 8px;
}

.number {
  padding-right: 4px;

  font-size: 16px;
  font-variation-settings: "slnt" 0, "opsz" 72;
  font-weight: 430;
  font-style: normal;
  line-height: 16px;
  color: #808080;
  letter-spacing: 0.025em;
}

.genre {
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  color: #919191;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.description {
  margin-top: 24px;
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 430;
  font-style: normal;
  line-height: 160%;
  color: #e8e8e8;
  letter-spacing: 0.025em;
}

.cast-names {
  padding-bottom: 42px;

  font-size: 16px;
  font-variation-settings: "slnt" 0, "opsz" 72;
  font-weight: 430;
  font-style: normal;
  line-height: 26px;
  color: #e8e8e8;
  letter-spacing: 0.025em;
}

.cast {
  padding-bottom: 8px;

  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  color: #919191;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.crew {
  font-size: 16px;
  font-weight: 430;
  font-style: normal;
  line-height: 160%;
  color: #e8e8e8;
  letter-spacing: 0.025em;
}

.name {
  font-size: 36px;
  font-variation-settings: "slnt" 0, "opsz" 72;
  font-weight: 658;
  font-style: normal;
  line-height: 102%;
  color: #fff;
}

.series {
  display: flex;
  align-items: center;

  margin: 0;

  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 29px;
  color: #fff;
  letter-spacing: 0.01em;
}

#maps-1 {
  width: 100%;
  max-width: -webkit-fill-available;
  padding: 0 16px;

  font-family: Pretendard, sans-serif;

  background: rgb(255 255 255 / 70%);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  border-radius: 12px 12px 0 0;

  /* background: transparent; */
  box-shadow: 0 0 7px rgb(0 0 0 / 25%);
}

#maps-2 {
  width: 100%;
  max-width: -webkit-fill-available;
  padding: 10px;
  background-color: #242628;
}

#drag {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 6px 0;

  text-align: center;

  background-color: inherit;
  
}

.search {
  width: 100%;
  max-width: -webkit-fill-available;
  margin: 0;
  padding: 4.5px 12px 4.5px 32px;

  font-family: Pretendard, sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;

  background: rgb(0 0 0 / 4.7%);
  background-image: url("/assets/search.svg");
  background-repeat: no-repeat;
  background-position: bottom 10px left 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.fav {
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  line-height: 17px;
  color: rgb(0 0 0 / 47.8%);
  letter-spacing: 0.02em;
}

.more {
  font-weight: 400;
  color: #3478f6 !important;
}

.round {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 56px;
  height: 56px;
  margin: 0;

  background-color: #49494b;
  border-radius: 50%;
  box-shadow: 0 0 2px rgb(0 0 0 / 4%), 0 0 32px rgb(0 0 0 / 14%),
    0 1px 6px rgb(0 0 0 / 2%);
}

.cont-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  max-width: -webkit-fill-available;
  margin-bottom: 24px;
  padding: 8px 6px;

  background: #fff;
  border-radius: 12px;
}

.sm {
  margin-top: 8px;

  font-size: 16px;
  font-feature-settings: "case" on;
  font-weight: 400;
  font-style: normal;
  line-height: 1.625;
  color: #171717;
}

.fav-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-right: 2px;
  padding: 7px 10.5px;
}

.fav-box:last-of-type {
  margin-right: 0;
}

.img-wrapper {
  position: relative;
  min-height: 225px;
}

.gradient {
  position: absolute;
  bottom: 6px;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 0%) 68.38%,
    rgb(0 0 0 / 93%) 100%
  );
}

.round-2 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 43px;
  height: 36px;
  margin: 0;
  margin-right: 16px;

  background-color: #49494b;
  border-radius: 50%;
}

.md {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-feature-settings: "case" on;
  font-weight: 500;
  line-height: 26px;
  color: #171717;
}

.xs {
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  color: #858585;
  letter-spacing: 0.02em;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  max-width: -webkit-fill-available;
  margin-left: 16px;
  padding: 10px 0;

  border-bottom: 1px solid rgb(0 0 0 / 5%);
}

.flex-start-n {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.flex-start:last-of-type {
  border: none;
}

.list-items {
  /* margin-top: -50px; */
  font-family: "Inter V", sans-serif;
}

/* #modal-close {
  display: none !important;
} */

.surround {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: -webkit-fill-available;
  margin: 12px 0;
  padding: 15px 0;

  background-color: #333438;
  border: none;
  border-radius: 12px;
  outline: none;
  box-shadow: 0 0 2px rgb(0 0 0 / 4%), 0 0 32px rgb(0 0 0 / 14%),
    0 1px 6px rgb(0 0 0 / 2%);
}

.surround:focus {
  border: none;
  outline: none;
}

.share {
  margin-top: 26px;
}

.border {
  border-bottom: 0.6px solid #696a6d;
}

.center {
  justify-content: center;
}

.margin {
  margin-left: -10px;
}

.text-center {
  text-align: center;
}

/* .nav-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.2;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  height: 100%;
} */

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 100%;

  opacity: 0.2;
  background: url("/assets/harlem.jpg");
  background-size: contain;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.li-overlay {
  position: absolute;
  z-index: 10;
  inset: 0;

  width: 100%;
  height: 100%;

  -webkit-filter: drop-shadow(0 0.7855px 3.9273px rgb(0 0 0 / 15%));
  filter: drop-shadow(0 0.7855px 3.9273px rgb(0 0 0 / 15%));
  box-shadow: 0 26.7055px 50.2691px -22.7782px rgb(0 0 0 / 25%);
}

.contact {
  position: fixed;
  bottom: 30px;

  width: 96%;
  max-width: -webkit-fill-available;
  padding: 15px 0;

  color: white;

  background-color: #3b82f6;
  border: none;
  outline: none;
}

.no-flex {
  display: block;
}

#maps-3 {
  width: 100%;
  max-width: -webkit-fill-available;
  padding: 0 5px;
  background-color: transparent;
}

.lg {
  padding: 12px 0;
  font-size: 20px;
}

.p2 {
  padding: 10px 0;
}

.cancel {
  width: 100%;
  margin: 13px 0 0;
  padding: 12px 0;

  background-color: #2c2c2e;
  border: none;
  border-radius: 10px;
  outline: none;
}

#maps-3.modal {
  top: 80% !important;
}

.overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 100%;

  opacity: 0.2;
  background: rgb(0 0 0 / 60%);
  background-size: contain;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  backdrop-filter: blur(100px);
  border-radius: 12px;
}

.modal {
  touch-action: none;

  top: 82px !important;
  left: 50%;

  /* transform: translate(-50%, 0) !important; */

  /* position: absolute; */
  overflow: scroll;
  display: block;

  width: 100% !important;
  max-width: 1008px !important;
  height: 100% !important;
  margin: auto;

  background-color: black;
  border-radius: 16px 16px 0 0 !important;
  box-shadow: 0 1px 37px 0 rgb(0 0 0 / 14%);
}

.nav {
  position: sticky;
  z-index: 102;
  top: 0;


  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.overlay.display {
  display: block;
  opacity: 0;
}

[data-draggable] {
  position: sticky;
  top: 0;
  width: 100%;
}

.shows-section {
  width: 100%;
  min-height: 100%;
  font-family: "Inter V", sans-serif;

  /* height: 100%; */
  background: black;
}

.banner-img {
  position: relative;
  min-height: 200px;
  margin: 24px 12px 32px;
}



#modal-close {
  position: sticky;
  z-index: 100;
  top: 12px !important;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0 12px 0 0;
}

[data-bottomsheet] input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

iframe {
  position: absolute;
}

.dismiss {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-bottom: 58px;
  padding: 9px 0;

  font-family: Pretendard, sans-serif;

  background: #ededed;
  border: none;
  border-radius: 12px;
  outline: none;
}

.dismiss:focus {
  border: none;
  outline: none;
}

.seasons-text p{
  display: none;
}


@media screen and (min-width: 700px) {
  .flex-input {
    margin-bottom: 16px;
    padding-top: 12px;
  }

  .img-wrapper img{
    min-height: 535px;
  }

  .img-wrapper{
    min-height: 520px;
  }

  .banner-img img.banner-im {
    min-height: 670px;
      border-radius: 0;
  }

  .close-icon{
    display: none;
  }

  .seasons-text p{
    display: block;

    padding-top:8px;

    font-size: 15px;
    font-variation-settings: "slnt" 0, "opsz" 72;
    font-weight: 430;
    line-height: 22px;
    color: #c2c2c2;
    letter-spacing: 0.025em;
  }

  .seasons-text {
    margin-left: 24px;
  }

  .watch-now.md {
    position: absolute;
    bottom: 32px;
    left: 56px;

    display: block;
    
    width: fit-content;
    margin: 0;

    font-size: 13px;
    font-weight: 600;
    line-height: 100%;
    text-align: right;
    letter-spacing: 0.08em;
  }

  .watch-now {
    display: none;
  }

  .nav {
    padding: 16px 0 20px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
  }

  .nav .container-shows {
    max-width: 1216px;
    padding: 0;
  }

  .container-box {
    display: flex;

    margin-bottom: 0;
    margin-left: -16px;
    padding: 16px;

    background: none;
    border-radius: 12px;

    transition: background 0.4s ease;
  }

  .container-box h4 {
    margin: 0;

    font-size: 16px;
    font-weight: 430;
    line-height: 16px;
    letter-spacing: 0.025em;
  }

  .container-box img {
    width: 100%;
    max-width: 230px;
    height: auto;
    border-radius: 0;
  }

  .container-box:hover {
    cursor: pointer;
    background: #181818;
    transition: background 0.4s ease;
  }

  .arrow {
    display: none;
  }

  .list-items {
    margin-top: -50px;
    padding-bottom: 80px;
  }



  .name {
    order: 0;
  }

  .genre {
    order: 0;
  }

  .cast {
    order: 3;
  }

  .cast-names {
    order: 4;
    padding-bottom: 0;
  }

  .flex-order {
    margin-right: 48px;
    margin-bottom: 64px;
  }

  .white-play {
    display: none;
  }

  .glad {
    order: 2;
    margin-bottom: 0;
    text-align: start;
  }

  .awards-div {
    display: flex;
    margin: 24px 0 4px;
  }

  .description {
    order: 3;
  }

  .awards-div div {
    margin-left: 11px;
  }

  .more {
    display: none;
  }



  .fav-box img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
  }

  .sm {
    margin-top: 0;
    font-size: 14px;
    line-height: 22px;
  }

  .cont-box {
    flex-direction: column;
    margin-bottom: 16px;
    padding: 0;
    background: transparent;
  }

  .fav-box {
    flex-direction: row;
    padding: 4px 0;
  }

  .md {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }

  #maps-1 {
    padding: 0 12px;

    font-family: Pretendard, sans-serif;

    background: rgb(255 255 255 / 90%);
    -webkit-backdrop-filter: blur(20.5px);
    backdrop-filter: blur(20.5px);
    border-right: 1px solid rgb(0 0 0 / 2%);
    border-radius: 0;
    box-shadow: none;
  }

  .search {
    padding: 3px 12px 3px 28px;

    font-size: 14px;
    line-height: 22px;

    background-image: url("/assets/search-14.svg");
    background-position: bottom 7px left 10px;
  }

  .flex-input img {
    width: 24px;
    height: 24px;
  }

  .flex-start {
    margin-left: 0;
    padding: 4px 0;
    border: none;
  }

  .fav {
    font-size: 13px;
    font-weight: 500;
  }

  .fav-box:last-of-type {
    display: none;
  }

  .flex-col .flex-start img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
  }

  .md.more {
    display: block;
  }

  .dismiss {
    position: fixed;
    bottom: 8px;

    width: 100%;
    max-width: -webkit-fill-available;
    margin: 0 8px;
    padding: 6.5px 0;

    background: #f3f3f3;
    border-radius: 8px;
  }

  .play-svg {
    display: none;
  }



  .shows-container {
    padding: 0;
  }

  .banner-img {
    margin: 0 0 35px;
  }



  .banner-im {
    height: auto;
  }

  .carousel {
    margin: 0;
  }

  .shows-container .flex {
    padding: 16px 0 24px;
  }

  .image-overlay {
    display: none;
  }

  .scroll-snap-slider {
    margin-top: 15px;
    padding-bottom: 59px;
  }
}
