@import "scroll-snap-slider/src/scroll-snap-slider.css";

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 100%;
  background: white;
  font-family: Pretendard, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 32px;
  margin-bottom: 13px;
}

h3 {
  margin: 10px 0;
}

h4 {
  margin: 12px 0 8px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  padding: 0 8px;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;

  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:hover {
  border-color: #646cff;
}

p {
  margin: 0;
  color: white;
  padding-top: 0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@font-face {
  font-family: Pretendard;
  src: url("/assets/fonts/Pretendard-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Pretendard;
  src: url("/assets/fonts/Pretendard-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Pretendard;
  src: url("/assets/fonts/Pretendard-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("/assets/fonts/Pretendard-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

.flex {
  display: flex;
  overflow: scroll;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 6.5px 0;
  max-width: -webkit-fill-available;
}

.box {
  min-width: 200px;
  height: 150px;
  border-radius: 20px;
  margin: 10px;
}

.one {
  background-color: #ffcc;
}

.two {
  background-color: #f2e6ff;
}

.three {
  background-color: #e6ffe6;
}

.four {
  background-color: #ccff;
}

.five {
  background-color: #ffe6cc;
}

.flex-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex-col img {
  margin-right: 12px;
}

input {
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.flex-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.flex-input img {
  margin-left: 12px;
}

#bottomsheet-2 {
  background-color: black;
}

#bottomsheet-3 {
  background-color: black;
}

.scroll-snap-slide {
  width: 15%;
  margin-right: 25px;
  max-height: 320px;
}

.universal img {
  height: auto !important;
  top: 0;
  width: 70%;
  margin: 15% !important;
}

.container-box img {
  border-radius: 5px;
}

[data-bottomsheet] {
  display: none;
  background-color: black;
  width: 100%;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transform: unset;
  box-shadow: 0 1px 37px 0 rgb(0 0 0 / 14%);
  min-height: -webkit-fill-available;
  will-change: transform;
  overflow: scroll;
  touch-action: none;
  color: white;
}

[data-bottomsheet] img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#bottomsheet-3 .scroll-snap-slide {
  width: 60%;
}

#bottomsheet-3 .scroll-snap-slide img {
  height: 100%;
}

#bottomsheet-3 h4 {
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .scroll-snap-slide {
    width: 40%;
  }
}

.watch-now {
  width: 100%;
  background-color: white;
  color: black;
  text-transform: uppercase;
  position: sticky;
  bottom: 0;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 20px;
  background: rgb(0 0 0 / 20%);
  backdrop-filter: blur(48px);
  -webkit-backdrop-filter: blur(48px);
}

.mid {
  top: 20%;
  position: absolute;
}

.universal {
  position: absolute;
  top: 20%;
  z-index: 10;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .universal {
    top: 0;
  }

  .mid {
    top: 0;
  }

  .universal img {
    width: 40%;
    margin-top: 20% !important;
    margin-left: 30% !important;
  }
}

.see-all {
  z-index: 10;
}

.container-box {
  padding: 8px;

  /* background-color: #181818; */
  margin: 10px 0;
  border-radius: 8px;
}

.number {
  color: #808080;
}

.genre {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #919191;
}

.description {
  font-style: normal;
  font-weight: 430;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.025em;
  color: #e8e8e8;
  margin-top: 24px;
  margin-bottom: 24px;
}

.cast {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #919191;
}

.crew {
  font-style: normal;
  font-weight: 430;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.025em;
  color: #e8e8e8;
}

.name {
  font-style: normal;
  font-weight: 658;
  font-size: 36px;
  line-height: 102%;
  color: #fff;
  font-variation-settings: "slnt" 0, "opsz" 72;
}

.series {
  font-style: normal;
  font-weight: 658;
  font-size: 14px;
  line-height: 102%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #ecb03f;
  margin: 16px 0;
}

#maps-1 {
  background: rgb(255 255 255 / 70%);

  /* background: transparent; */
  box-shadow: 0 0 7px rgb(0 0 0 / 25%);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border-radius: 12px 12px 0 0;
  width: 100%;
  padding: 0 16px;
  max-width: -webkit-fill-available;
}

#maps-2 {
  background-color: #242628;
  padding: 10px;
  width: 100%;
  max-width: -webkit-fill-available;
}

#drag {
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
  background-color: transparent;
}

.search {
  background: rgb(0 0 0 / 4.7%);
  border-radius: 10px;
  outline: none;
  border: none;
  width: 100%;
  max-width: -webkit-fill-available;
  margin: 0;
  padding: 4.5px 12px 4.5px 32px;
  background-image: url("assets/search.svg");
  background-repeat: no-repeat;
  background-position: bottom 10px left 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  font-family: Pretendard, sans-serif;
}

.fav {
  color: rgb(0 0 0 / 47.8%);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.02em;
}

.more {
  color: #3478f6 !important;
  font-weight: 400;
}

.round {
  background-color: #49494b;
  display: flex;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  align-items: center;
  justify-content: center;
  margin: 0;
  box-shadow: 0 0 2px rgb(0 0 0 / 4%), 0 0 32px rgb(0 0 0 / 14%),
    0 1px 6px rgb(0 0 0 / 2%);
}

.cont-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #fff;
  padding: 8px 6px;
  border-radius: 12px;
  width: 100%;
  max-width: -webkit-fill-available;
  margin-bottom: 24px;
}

.sm {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  font-feature-settings: "case" on;
  color: #171717;
  margin-top: 8px;
}

.fav-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7px 10.5px;
  margin-right: 2px;
}

.fav-box:last-of-type {
  margin-right: 0;
}

.img-wrapper {
  position: relative;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 186px;
  left: 0;
  bottom: 0;
  background: linear-gradient(
      180deg,
      rgb(0 0 0 / 0%) 73.15%,
      rgb(0 0 0 / 93%) 99%
    ),
    url("image.png");
}

.round-2 {
  background-color: #49494b;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 43px;
  height: 36px;
  margin-right: 16px;
}

.md {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  font-feature-settings: "case" on;
  color: #171717;
}

.xs {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #858585;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid rgb(0 0 0 / 5%);
  padding: 10px 0;
  margin-left: 16px;
  max-width: -webkit-fill-available;
}

.flex-start:last-of-type {
  border: none;
}

.surround {
  background-color: #333438;
  padding: 15px 0;
  display: flex;
  width: 100%;
  border-radius: 12px;
  margin: 12px 0;
  align-items: center;
  justify-content: center;
  max-width: -webkit-fill-available;
  outline: none;
  border: none;
  box-shadow: 0 0 2px rgb(0 0 0 / 4%), 0 0 32px rgb(0 0 0 / 14%),
    0 1px 6px rgb(0 0 0 / 2%);
}

.surround:focus {
  outline: none;
  border: none;
}

.share {
  margin-top: 26px;
}

.border {
  border-bottom: 0.6px solid #696a6d;
}

.center {
  justify-content: center;
}

.margin {
  margin-left: -10px;
}

.text-center {
  text-align: center;
}

.contact {
  background-color: #3b82f6;
  color: white;
  outline: none;
  border: none;
  width: 96%;
  position: fixed;
  bottom: 30px;
  padding: 15px 0;
  max-width: -webkit-fill-available;
}

.no-flex {
  display: block;
}

#maps-3 {
  background-color: transparent;
  padding: 0 5px;
  width: 100%;
  max-width: -webkit-fill-available;
}

.lg {
  font-size: 20px;
  padding: 12px 0;
}

.p2 {
  padding: 10px 0;
}

.cancel {
  width: 100%;
  border: none;
  outline: none;
  background-color: #2c2c2e;
  padding: 12px 0;
  border-radius: 10px;
  margin: 13px 0 0;
}

#maps-3.modal {
  top: 80% !important;
}

.bottomsheet {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal {
  background-color: black;
  position: absolute;
  overflow: scroll;
  display: block;
  max-width: 50%;
  height: 50% !important;
  margin: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50% !important;
  box-shadow: 0 1px 37px 0 rgb(0 0 0 / 14%);
  border-radius: 30px;
  touch-action: none;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 50%);
}

.overlay.display {
  display: block;
  opacity: 0;
}

[data-draggable] {
  position: sticky;
  top: 0;
  width: 100%;
}

#modal-close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  padding: 4px;
  z-index: 100;
}

[data-bottomsheet] input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

iframe {
  position: absolute;
}

.dismiss {
  border: none;
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ededed;
  border-radius: 12px;
  margin-bottom: 58px;
  font-family: Pretendard, sans-serif;
}

.dismiss:focus {
  border: none;
  outline: none;
}

@media screen and (min-width: 700px) {
  .flex-input {
    padding-top: 12px;
    margin-bottom: 16px;
  }

  .more {
    display: none;
  }

  .fav-box img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
  }

  .sm {
    font-size: 14px;
    margin-top: 0;
    line-height: 22px;
  }

  .cont-box {
    flex-direction: column;
    background: transparent;
    padding: 0;
    margin-bottom: 16px;
  }

  .fav-box {
    flex-direction: row;
    padding: 4px 0;
  }

  .md {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }

  #maps-1 {
    padding: 0 12px;
    border-radius: 0;
    border-right: 1px solid rgb(0 0 0 / 2%);
    box-shadow: none;
  }

  .search {
    padding: 3px 12px 3px 28px;
    font-size: 14px;
    background-image: url("assets/search-14.svg");
    background-position: bottom 7px left 10px;
    line-height: 22px;
  }

  .flex-input img {
    width: 24px;
    height: 24px;
  }

  .flex-start {
    border: none;
    padding: 4px 0;
    margin-left: 0;
  }

  .fav {
    font-size: 13px;
    font-weight: 500;
  }

  .fav-box:last-of-type {
    display: none;
  }

  .flex-col .flex-start img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
  }

  .md.more {
    display: block;
  }

  .dismiss {
    position: fixed;
    bottom: 8px;
    margin: 0 8px;
    width: 100%;
    max-width: -webkit-fill-available;
  }
}
